<div id="myCarousel" class="carousel-list carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item">
         <h3>{{title}}</h3>
        <img src="img/{{image}}.jpg" alt="{{alt}}" width="{{width}}" height="{{height}}">
         <h4>{{description}}</h4>
    </div>
  </div>
</div>
